*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f0f7f8;
}
.nav-list {
  background: white;
  box-shadow: 0px 0px 10px lightblue;
  padding: 1rem 0;
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 2rem;
}
.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in;
}
.nav-item a:hover {
  color: #039d69;
}
.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
  font-size: 1.5rem;
}
.main-content {
  display: flex;
  flex-direction: column;
}
.summary {
}
.search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
textarea {
  max-width: 800rem;
  height: 5rem;
}
.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}
.button1:hover {
  color: #ffffff;
  background-color: #000000;
}
.table {
  width: 100%;
}
.table th,
#tableContent td {
  border: 1px solid #ddd;
  padding: 8px;
}
.info th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #c1c8e4;
  color: black;
}
@media only screen and (max-width: 700px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}

/* style from https://codepen.io/angeladelise/pen/yLYPyMq*/
